*{margin:0%;
box-sizing: border-box;
text-decoration: none;
font-family:'Courier New', Courier, monospace;
}

.navbar{
    background-color:whitesmoke;
    height: 12vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    position:sticky;
    top: 0px;
}

#nav1 a{
    color:black;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
#nav1{
 
   font-size:30px ;

}
#nav2 a{
 /* font-family: Georgia, 'Times New Roman', Times, serif; */
 color: black;
}
#nav2{
 width: 50vh;
   font-size:20px ;
   display:flex;
   justify-content:space-around;

}
#homepage{

    height: 88vh;
    background-color: #273E06;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-margin-top: 12vh;
    flex-direction:row-reverse;
    

}
#image{
background-image: url(/images/rasal.jpg);
width: 250px;
height: 250px;
border-radius: 50%;
background-position:center;
background-size:85%


}
#home-description{
    font-size: 18px;
    /* background-color: bisque; */
    border-radius: 5px;
    width: 50%;
    padding: 10px 10px 10px 10px;
    color: white;
}
#description{

    font-size: 16px;
    
}
.icons{
    font-size: 30px;
    
}
#about-page{
height: 88vh;
background-color: #273E06;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
color: white;
padding-bottom: 150px;
scroll-margin-top: 12vh;

}

#about-description{
    width: 55%;
padding: 0px 10px 0px 10px;
font-size: 18px;
/* font-family:'Times New Roman', Times, serif */

}

#about-heading{
padding-top: 100px;
    

}

#skill-page{
height: 88vh;
background-color: #273E06;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
scroll-margin-top: 12vh;
}

#skills-heading{

  
    padding-bottom: 50px;
}
#skills-list{
    
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

color: white;
width: 80%;
}

#html{
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items:center;
width: 80%;
padding: 0px 10px 30px 10px;


}

#html-description{
    width: 500px;
    padding-left: 15px;
}

#css{
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 80%;
padding: 0px 10px 30px 10px;

}
#css-description{
    width: 500px;
    padding-left: 20px;

}

#javascript{
    display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 80%;
padding: 0px 10px 30px 10px;



}
#javascript-description{
    width: 500px;
}


#contact-page{

    height: 88vh;
    background-color: #273E06;
display: flex;
justify-content: center;
align-items: center;
color: white;
scroll-margin-top: 12vh;

}
#contact-content{
    /* background-color: blue; */
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
width: 80%;
height: 80%;
}

#contact-list{
display: flex;
flex-direction: column;
justify-content:space-evenly;
align-items: center;
width: 70%;
height: 70%;
/* background-color: blueviolet; */
}   
#fullname{

padding: 10px 10px 10px 10px;
font-size: 18px;
}
#email{

padding: 10px 10px 10px 10px;
font-size: 18px;
}
#message{

padding: 10px 10px 10px 10px;
font-size: 18px;
}
#contact-heading{

    /* background-color: darkorange; */
    padding-bottom: 30px;
    font-size: 40px;
}
#button{
    height: 35px;
    width: 136px;
    
    
}
#button:hover{
    background-color: black;
    color: white;
    transition-duration: 0.4s;
    
}